menu "Example Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default "myssid"
	help
		WiFi password (WPA or WPA2) for the example to use.
		Can be left blank if the network has no security set.

config IOTHUB_DPS_PROVISIONING_URI
    string "IOT Hub Device Connection String"
	default ""
	help

config IOTHUB_DPS_ID_SCOPE
    string "IOT Hub Device Connection String"
	default ""
	help

config IOTHUB_DPS_REGISTRATION_NAME
    string "IOT Hub Device Connection String"
	default ""
	help

config IOTHUB_DPS_PRIMARY_KEY
	string "IOT Hub Device Connection String"
	default ""
	help

config IOTHUB_DPS_SECONDARY_KEY
	string "IOT Hub Device Connection String"
	default ""
	help

endmenu